<div class="row">
    <div class="col-md-12">
        <div class="jumbotron instrucoes">
            <h4>O Jogo</h4>
            <ul>
                <li>
                    5 dados são rolados pelo jogador
                </li>
                <li>
                    Os dados são comparados contra 15 categorias de pontuação
                </li>
                <li>
                    O jogador escolhe em qual categoria deseja pontuar, de forma a obter o melhor resultado possível
                </li>
                <li>
                    Caso seja selecionada uma categoria na qual o rolamento não se enquadre na condição, o total de pontos atribuídos será 0.
                </li>
            </ul>
            <h4>Categorias de Pontuação</h4>
            <ul>
                <li>
                    Uns[Haver pelo menos 1 dado com valor "um" no rolamento]: Pontue a soma de todos os dados de valor "um"
                </li>
                <li>
                    Dois[Haver pelo menos 1 dado com valor "dois" no rolamento]: Pontue a soma de todos os dados de valor "dois"
                </li>
                <li>
                    Três[Haver pelo menos 1 dado com valor "três" no rolamento]: Pontue a soma de todos os dados de valor "três"
                </li>
                <li>
                    Quatros[Haver pelo menos 1 dado com valor "quatro" no rolamento]: Pontue a soma de todos os dados de valor "quatro"
                </li>
                <li>
                    Cincos[Haver pelo menos 1 dado com valor "cinco" no rolamento]: Pontue a soma de todos os dados de valor "cinco"
                </li>
                <li>
                    Seis[Haver pelo menos 1 dado com valor "seis" no rolamento]: Pontue a soma de todos os dados de valor "seis"
                </li>
                <li>
                    Par[Haver pelo menos 2 dados de mesmo valor no rolamento]: Pontue a soma dos dois dados de mesmo valor
                </li>
                <li>
                    Dois Pares[Haver pelo menos 2 pares de dados distintos no rolamento]: Pontue a soma dos quatro dados que integram os pares
                </li>
                <li>
                    Trio[Haver pelo menos 3 dados de mesmo valor no rolamento]: Pontue a soma dos três dados de mesmo valor
                </li>
                <li>
                    Quadra[Haver pelo menos 4 dados de mesmo valor no rolamento]: Pontue a soma dos quatro dados de mesmo valor
                </li>
                <li>
                    Sequencia Menor[Haver pelo menos 4 dados em ordem numérica no rolamento]: Pontue 15 pontos
                </li>
                <li>
                    Sequencia Maior[Haver os 5 dados em ordem numérica no rolamento]: Pontue 20 pontos
                </li>
                <li>
                    Full House[Haver 1 par e 1 trio no rolamento]: Pontue a soma de todos os 5 dados
                </li>
                <li>Aurora[Haver 5 dados de mesmo valor no rolamento]: Pontue 50 pontos</li>
            </ul>

        </div>
    </div>
</div>